html{
  height: 100%;
}
.box{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 54em;
}
body{
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content{
  text-align: center;
  font-family: Roboto;
  padding: 60px;
  background-color: rgba(0,0,0,.6);
  flex: none;
  max-width: 100%;
}
h1{
  color: #fff;
  font-weight: 500;
  font-size: 70px;
  margin-bottom: 30px;
}
#location{
  font-size: 20px;
  margin: 20px;
  font-weight: 500;
  color: #fff;
}

.weather{
  display: flex;
  justify-content: center;
}

#icon{

}

#degrees{
  font-size: 26px;
  color: #fff;
}



button{
  margin: 20px;
  cursor: pointer;
  background-color: rgba(0,90,76,.65);
  color: #ffffff;
}


ul{
  list-style-type: none;
  padding: 20px;
}

.more-info li{
  background-color: rgba(0,30,76,.65);
  color: #fff;
  margin: 20px;
  float: left;
  width: 185px;
  padding: 10px;
}

h2{

  font-size: 20px;
  margin-top: 100px;
  font-weight: 500;
  color: #fff;
}

#daily-info{
  font-family: Roboto;
  max-width: 100%;
  margin-top: 50px;

}

.daily-content li{
  background-color: rgba(0,30,76,.65);
  color: #fff;
  margin: 20px;
  float: left;
  width: 60px;
  padding: 10px;
}

.daily-content img{
  width: 40px;
}